.auth_bg {
    width: 100%;
    height: 601px;
    overflow: hidden;
    clear: both;
    background: #f7e4db;
}
.auth_bg_new {
    background: url(../img/auth_bg_new.jpg) no-repeat center top;
}
.login_border {
    width: 1180px;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.login_right {
    width: 452px;
    height: 636px;
    float: right;
    overflow: hidden;
    position: relative;
}
.login_right .main {
    float: left;
    width: 100%;
    height: 510px;
    position: relative;
    overflow: hidden;
    background: url(../img/auth_main_login.jpg) no-repeat 38px 130px;
}
.login_right .alert{
    position: absolute;
    width: 78%;
    height: 40px;
    margin: 0 auto;
    top:36px;
    left:36px;
    /* opacity: 0.4; */
    padding-left: 10px;
    color:#fff;
    font-size:15px;
    line-height: 40px;
}
.alert-success{
    background: rgb(58, 184, 235);
    display: none;
}
.alert-danger{
    background: #e93023;
    display: none;
}
.alert-tip{
    background: #dddd2e;
    /* display:none; */
}
.main .txt111 {
    width: auto;
    height: 20px;
    position: absolute;
    left: 38px;
    top: 95px;
    color: #000;
    font-family: "宋体";
    font-size: 20px;
    z-index: 5;
}
.main .jihuozhuce {
    width: auto;
    height: 20px;
    position: absolute;
    right: 50px;
    top: 102px;
    color: #333;
    z-index: 5;
}
.main .jihuozhuce a {
    color: #666;
    float: left;
    font-family: "宋体";
    font-size: 12px;
}
#frmLogin {
    width: 300px;
    margin-top:170px;
    margin-left: 91px;
}
.auth_bg .main ul input{
    border:0;
    outline: none;
    height: 34px;
    width: 267px;
    background: #fff;
    margin-bottom: 30px;
    padding-left: 14px;
    box-sizing: border-box;
}
.login_phase{
    width: 12px;
    height: 12px;
    background: #fff;
}
.auth_bg .aotologin{
    width: 267px;
    height: 34px;
    line-height: 34px;
    margin:0px auto 10px;
    margin-left: -1px;
}
.auth_bg .frmLogin .aotologin input{
    float:left;
    width: 12px;
    height: 12px;
    background:#fff;
    margin-top: 11px;
    margin-right: 8px;
    border-color:#fff;
    outline: none;
}
.auth_bg .aotologin span{
    float:left;
}
.auth_bg .aotologin a{
    float: right;
}
.submit{
    width: 267px;
    height: 34px;
}
.auth_bg .submit .btn_login{
    margin-top: -11px;
    color:#fff;
    background: #ff8a81;
    opacity:1;
    transition: opacity 0.5s;
    cursor: pointer;
}
.submit:hover .btn_login{
    opacity: 0.6;
}
.auth_bg .main a:hover{
    color:red;
}
.alipayLogin{
    width: 267px;
    margin: 52px auto 0;
}
.alipayLogin a{
    float:left;
    width: 46px;
    height: 42px;
    display: block;
    margin-left:18px;
}
.qq-btn{
    background:url(../img/qq-btn.jpg) no-repeat 0 0;
    margin-left: 0;
}
.weixin-btn{
    background:url(../img/weixin-btn.jpg) no-repeat 0 0;
}
.sina-btn{
    background: url(../img/sina-btn.jpg) no-repeat 0 0;
}
.zhifubao-btn{
    background: url(../img/zhifubao-btn.jpg) no-repeat 0 0;
}
.alipayLogin a:hover{
    background-position: -46px 0;
}